<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e48d166edc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/signup_styles.css">
    <title>Login Form</title>
    <!-- Coding With Nick -->

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="Main-container">
        <div class="container-login">
            <div class="wrap-login">

                <div class="login-pic">
                    <img src="/images/img.png" alt="IMG">
                </div>

                <form class="login-form" method="post" action="/signup">
                    <span class="login-form-title">Login</span>

                    <div class="wrap-input">
                        <input type="text" class="input" name="email" placeholder="Email" required>
                        <span class="focus-input"></span>
                        <span class="symbol-input">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="wrap-input">
                        <input type="password" class="input" name="pass" placeholder="Password" required>
                        <span class="focus-input"></span>
                        <span class="symbol-input">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="login-form-btn-container">
                        <button class="login-form-btn">Login</button>
                    </div>

                  <div class="text-center p-t-1">
                      <span class="txt1">Forgot</span>
                      <a href="#" class="txt2"> Username / Password ?</a>
                  </div>
                  <div class="text-center p-t-2">
                      <a onclick="document.getElementById('id01').style.display='block'" class="txt2">Create Your Account <i class="fa fa-long-arrow-right " aria-hidden="true"></i></a>
                  </div>

                </form>

            </div>
        </div>
    </div>









<!-- popup signup page -->
    	<div id="id01" class="modal">
    		<span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
    		<form class="modal-content animate" method="post" action="/signin" >
    			<div class="container">
            <div class="wrap-input">
                <input type="text" class="input" name="email" placeholder="Email" required>
                <span class="focus-input"></span>
                <span class="symbol-input">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </span>
            </div>

            <div class="wrap-input">
                <input type="password" class="input" name="pass" placeholder="Password" required>
                <span class="focus-input"></span>
                <span class="symbol-input">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                </span>
            </div>

            <div class="wrap-input">
                <input type="password" class="input" name="re_entr_pass" placeholder="Repeat Password" required>
                <span class="focus-input"></span>
                <span class="symbol-input">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                </span>
            </div>
            <div class="wrap-input">
              <input type="checkbox"> Remember me
              <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
            </div>



    				<div class="clearfix">
    					<button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
    					<button type="submit" class="signupbtn">Sign Up</button>
    				</div>
    			</div>
    		</form>
    	</div>

    	<!--close the modal by just clicking outside of the modal-->
    	<script>
    		var modal = document.getElementById('id01');

    		window.onclick = function(event) {
    			if (event.target == modal) {
    				modal.style.display = "none";
    			}
    		}
    	</script>




</body>

</html>
