.background{
  background-color: #fff;
}
.home_content{
  padding: 13% 15%;
  padding-bottom: 4%;
}
/* Sections */

.colored-section {

background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  color: #000;
}
.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}
.nav_text{
  font-family: 'Redressed', cursive;
}
/* .navbar{
  padding: 1.5rem 0rem; !important
} */
/* ============ desktop view ============ */
@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu{ display: none; }
  .navbar .nav-item:hover .nav-link{   }
  .navbar .nav-item:hover .dropdown-menu{ display: block; }
  .navbar .nav-item .dropdown-menu{ margin-top:0; }
}
/* ============ desktop view .end// ============ */

.body_text{
  text-align: center;
}
.mb-5 {
    margin-bottom: 0rem!important;
}
h3{
  text-align: center;
}
.download-button {
  margin: 5% 3% 5% 0;
}
body {
  font-family: "Montserrat";
  text-align: center;
  background-color: #ffffff;

}
.social-icon {
    margin: 15px 10px;
}



.navbar{
  position: fixed;
  width: -webkit-fill-available;
}
.bg-light {
    background-color: #ffffff!important;
}
.signup_logo {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
    padding-top: 9%;
    color: black;
}
.testimonial-image {
  width: 20%;
  border-radius: 100%;
  margin-left: 75%;
}
